In [1]:
import sqlite3
con = sqlite3.connect('./test_db')

In [12]:
cur = con.cursor()
for row in cur.execute('SELECT * FROM person'):
    print(row)
    for column in row:
        print(column)

(1, 'changed_name', 10.5)
1
changed_name
10.5
(100, 'name_z', 99.9)
100
name_z
99.9

In [3]:
insert_sql = 'INSERT INTO PERSON VALUES(?, ?, ?)'
insert_param = (100, 'name_z', 99.9)
cur.execute(insert_sql, insert_param)

IntegrityError: UNIQUE constraint failed: person.id

In [5]:
con.commit()

In [10]:
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})
print(cur.fetchall())

[(1, 'changed_name', 10.5), (100, 'name_z', 99.9)]

In [7]:
update_name = 'UPDATE person SET name = "changed_name" WHERE id = 1'
cur.execute(update_name)

In [9]:
con.commit()

In [11]:
delete = 'DELETE FROM person WHERE id IS 3'
cur.execute(delete)

In [13]:
con.close()

In [14]:
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})

ProgrammingError: Cannot operate on a closed database.