In [1]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from test_model import Person

In [2]:
engine = create_engine('sqlite:///test_db', echo=True)
session = Session(engine)

In [3]:
persons = session.query(Person).all()

2024-06-22 17:06:59,049 INFO sqlalchemy.engine.Engine BEGIN (implicit)

2024-06-22 17:06:59,064 INFO sqlalchemy.engine.Engine SELECT person.id AS person_id, person.name AS person_name, person.size AS person_size
FROM person
2024-06-22 17:06:59,077 INFO sqlalchemy.engine.Engine [generated in 0.01281s] ()

In [10]:
for person in persons:
    print(f'id:{person.id} name:{person.name} size:{person.size}')

id:3 name:c_update size:3.14
id:4 name:from_model size:2.236

In [6]:
new_person = Person(id=4, name='from_model', size=100)
session.add(new_person)

In [7]:
session.commit()

2024-06-22 14:20:07,027 INFO sqlalchemy.engine.Engine INSERT INTO person (id, name, size) VALUES (?, ?, ?)
2024-06-22 14:20:07,033 INFO sqlalchemy.engine.Engine [generated in 0.00572s] (4, 'from_model', 100.0)
2024-06-22 14:20:07,036 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
persons = session.query(Person).all()
for person in persons:
    print(person.__dict__)

2024-06-22 14:21:46,439 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-22 14:21:46,441 INFO sqlalchemy.engine.Engine SELECT person.id AS person_id, person.name AS person_name, person.size AS person_size
FROM person
2024-06-22 14:21:46,442 INFO sqlalchemy.engine.Engine [cached since 536.6s ago] ()
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7f33e92f7be0>, 'id': 1, 'name': 'changed_name', 'size': 10.5}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7f33e9503be0>, 'id': 3, 'name': 'c_update', 'size': 3.14}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7f33e929e320>, 'id': 4, 'name': 'from_model', 'size': 100.0}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7f33e9503d90>, 'id': 100, 'name': 'name_z', 'size': 99.9}

In [9]:
person4 = session.query(Person).filter(Person.id==4).first()

2024-06-22 14:42:26,410 INFO sqlalchemy.engine.Engine SELECT person.id AS person_id, person.name AS person_name, person.size AS person_size
FROM person
WHERE person.id = ?
 LIMIT ? OFFSET ?
2024-06-22 14:42:26,416 INFO sqlalchemy.engine.Engine [generated in 0.00715s] (4, 1, 0)

In [10]:
person4.size = 2.236

In [11]:
session.commit()

2024-06-22 14:42:56,206 INFO sqlalchemy.engine.Engine UPDATE person SET size=? WHERE person.id = ?
2024-06-22 14:42:56,208 INFO sqlalchemy.engine.Engine [generated in 0.00220s] (2.236, 4)
2024-06-22 14:42:56,218 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
session.query(Person).filter(Person.size>10).delete()

2024-06-22 14:43:42,646 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-22 14:43:42,658 INFO sqlalchemy.engine.Engine DELETE FROM person WHERE person.size > ?
2024-06-22 14:43:42,680 INFO sqlalchemy.engine.Engine [generated in 0.02194s] (10,)

2

In [13]:
session.query(Person).filter(Person.size>10).delete()

2024-06-22 14:44:33,743 INFO sqlalchemy.engine.Engine DELETE FROM person WHERE person.size > ?
2024-06-22 14:44:33,746 INFO sqlalchemy.engine.Engine [cached since 51.09s ago] (10,)

0

In [14]:
session.commit()

2024-06-22 14:44:44,409 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
result_list = session.execute('SELECT * FROM person WHERE id=:id', {"id":4})

2024-06-22 14:46:06,401 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-22 14:46:06,404 INFO sqlalchemy.engine.Engine SELECT * FROM person WHERE id=?
2024-06-22 14:46:06,405 INFO sqlalchemy.engine.Engine [generated in 0.00187s] (4,)

In [16]:
for result in result_list:
    print(result)

(4, 'from_model', 2.236)

In [17]:
session.close()

2024-06-22 14:46:42,625 INFO sqlalchemy.engine.Engine ROLLBACK

In [1]:
from test_model import Human

In [12]:
humans = session.query(Human).all()
for human in humans:
    print(f'id:{human.id} name:{human.name} height:{human.height} weight:{human.weight}')

2024-06-22 15:00:31,509 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
2024-06-22 15:00:31,511 INFO sqlalchemy.engine.Engine [cached since 387.7s ago] ()
id:1 name:name_1 height:170.0 weight:60.0
id:2 name:name_2 height:170.0 weight:80.0
id:3 name:name_3 height:160.0 weight:45.0

In [14]:
new_human = Human(id=4, name='name_4', height=145.0,  weight=40)
session.add(new_human)

In [19]:
human4 = session.query(Human).filter(Human.height==170.0).first()

2024-06-22 15:28:46,365 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
WHERE human.height = ?
 LIMIT ? OFFSET ?
2024-06-22 15:28:46,367 INFO sqlalchemy.engine.Engine [cached since 1110s ago] (170.0, 1, 0)

In [23]:
human4.height = 175.0

In [24]:
session.commit()

2024-06-22 15:30:35,785 INFO sqlalchemy.engine.Engine UPDATE human SET height=? WHERE human.id = ?
2024-06-22 15:30:35,789 INFO sqlalchemy.engine.Engine [generated in 0.00467s] (175.0, 1)
2024-06-22 15:30:35,793 INFO sqlalchemy.engine.Engine COMMIT

In [25]:
session.query(Human).filter(Human.weight == 40).delete()

2024-06-22 15:32:10,998 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-22 15:32:11,002 INFO sqlalchemy.engine.Engine DELETE FROM human WHERE human.weight = ?
2024-06-22 15:32:11,012 INFO sqlalchemy.engine.Engine [generated in 0.01046s] (40,)

1

In [26]:
session.commit()

2024-06-22 15:32:19,270 INFO sqlalchemy.engine.Engine COMMIT